# Sales Prediction of Store-1

In [20]:
# Import the Dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import numpy as np
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from config import db_password
import psycopg2
from sqlalchemy import create_engine
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
# Creating a Connection with the postgres
db_string = f"postgres://postgres:{db_password}@walmartsales.ctixdh2hiprk.us-east-2.rds.amazonaws.com:5432/WMT_SALEs"
engine = create_engine(db_string)
# weekly_sales_df.to_sql(name='Weekly_Sales', con=engine, if_exists='append',index=False)

In [3]:
# Read the data from postgress into the pandas dataframe
sales_df = pd.read_sql_table("Weekly_Sales",con = engine)
sales_df

,index_id,Rev_Date,Date,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Year,Week
0,1-2010-05-02,2010-05-02,2010-05-02,1,1643690.90,0,42.31,2.572,211.096358,8.106,5,2010,17
1,1-2010-12-02,2010-12-02,2010-12-02,1,1641957.44,1,38.51,2.548,211.242170,8.106,12,2010,48
2,1-2010-02-19,2010-02-19,2010-02-19,1,1611968.17,0,39.93,2.514,211.289143,8.106,2,2010,7
3,1-2010-02-26,2010-02-26,2010-02-26,1,1409727.59,0,46.63,2.561,211.319643,8.106,2,2010,8
4,1-2010-05-03,2010-05-03,2010-05-03,1,1554806.68,0,46.50,2.625,211.350143,8.106,5,2010,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430,45-2012-09-28,2012-09-28,2012-09-28,45,713173.95,0,64.88,3.997,192.013558,8.684,9,2012,39
6431,45-2012-05-10,2012-05-10,2012-05-10,45,733455.07,0,64.89,3.985,192.170412,8.667,5,2012,19
6432,45-2012-12-10,2012-12-10,2012-12-10,45,734464.36,0,54.47,4.000,192.327265,8.667,12,2012,50
6433,45-2012-10-19,2012-10-19,2012-10-19,45,718125.53,0,56.47,3.969,192.330854,8.667,10,2012,42
6434,45-2012-10-26,2012-10-26,2012-10-26,45,760281.43,0,58.85,3.882,192.308899,8.667,10,2012,43

In [4]:
# Checking the data types 
sales_df.dtypes

index_id                object
Rev_Date        datetime64[ns]
Date            datetime64[ns]
Store                    int64
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
Month                    int64
Year                     int64
Week                     int64
dtype: object

In [5]:
# Making a copy of sales_df
sales_stores = sales_df.copy()
sales_stores

,index_id,Rev_Date,Date,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Year,Week
0,1-2010-05-02,2010-05-02,2010-05-02,1,1643690.90,0,42.31,2.572,211.096358,8.106,5,2010,17
1,1-2010-12-02,2010-12-02,2010-12-02,1,1641957.44,1,38.51,2.548,211.242170,8.106,12,2010,48
2,1-2010-02-19,2010-02-19,2010-02-19,1,1611968.17,0,39.93,2.514,211.289143,8.106,2,2010,7
3,1-2010-02-26,2010-02-26,2010-02-26,1,1409727.59,0,46.63,2.561,211.319643,8.106,2,2010,8
4,1-2010-05-03,2010-05-03,2010-05-03,1,1554806.68,0,46.50,2.625,211.350143,8.106,5,2010,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430,45-2012-09-28,2012-09-28,2012-09-28,45,713173.95,0,64.88,3.997,192.013558,8.684,9,2012,39
6431,45-2012-05-10,2012-05-10,2012-05-10,45,733455.07,0,64.89,3.985,192.170412,8.667,5,2012,19
6432,45-2012-12-10,2012-12-10,2012-12-10,45,734464.36,0,54.47,4.000,192.327265,8.667,12,2012,50
6433,45-2012-10-19,2012-10-19,2012-10-19,45,718125.53,0,56.47,3.969,192.330854,8.667,10,2012,42
6434,45-2012-10-26,2012-10-26,2012-10-26,45,760281.43,0,58.85,3.882,192.308899,8.667,10,2012,43

In [6]:
# Sorting the data by "Store" and "Date"
sales_stores_sorted = sales_stores.sort_values(by=["Store","Date"])
sales_stores_sorted

,index_id,Rev_Date,Date,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Year,Week
34,1-2010-01-10,2010-01-10,2010-01-10,1,1453329.50,0,71.89,2.603,211.671989,7.838,1,2010,1
8,1-2010-02-04,2010-02-04,2010-02-04,1,1594968.28,0,62.27,2.719,210.820450,7.808,2,2010,5
21,1-2010-02-07,2010-02-07,2010-02-07,1,1492418.14,0,80.91,2.669,211.223533,7.787,2,2010,5
2,1-2010-02-19,2010-02-19,2010-02-19,1,1611968.17,0,39.93,2.514,211.289143,8.106,2,2010,7
3,1-2010-02-26,2010-02-26,2010-02-26,1,1409727.59,0,46.63,2.561,211.319643,8.106,2,2010,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6423,45-2012-10-08,2012-10-08,2012-10-08,45,733037.32,0,78.65,3.722,191.162613,8.684,10,2012,41
6433,45-2012-10-19,2012-10-19,2012-10-19,45,718125.53,0,56.47,3.969,192.330854,8.667,10,2012,42
6434,45-2012-10-26,2012-10-26,2012-10-26,45,760281.43,0,58.85,3.882,192.308899,8.667,10,2012,43
6410,45-2012-11-05,2012-11-05,2012-11-05,45,770487.37,0,61.24,3.889,190.976417,8.567,11,2012,45
6432,45-2012-12-10,2012-12-10,2012-12-10,45,734464.36,0,54.47,4.000,192.327265,8.667,12,2012,50

In [7]:
# Saving the data 
sales_stores_sorted.to_csv('../Resources/allstores_model_df.csv')

In [8]:
# Defining a function to calculate difference of "Weekly_Sales"
def get_diff(data):
    sales_stores_sorted['sales_diff'] = sales_stores_sorted.Weekly_Sales.diff()
#     sales_stores_sorted = sales_stores_sorted.dropna()

    # Saving the data 
    sales_stores_sorted.to_csv('../Resources/allstores_ML_df.csv')

In [9]:
# Executing the "get_diff" function
get_diff(sales_stores_sorted)

In [10]:
# Removing the rows where date is equal to "2010-01-10"
sales_stores_sorted = sales_stores_sorted.loc[sales_stores_sorted["Date"] != "2010-01-10"]
sales_stores_sorted

,index_id,Rev_Date,Date,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Year,Week,sales_diff
8,1-2010-02-04,2010-02-04,2010-02-04,1,1594968.28,0,62.27,2.719,210.820450,7.808,2,2010,5,141638.78
21,1-2010-02-07,2010-02-07,2010-02-07,1,1492418.14,0,80.91,2.669,211.223533,7.787,2,2010,5,-102550.14
2,1-2010-02-19,2010-02-19,2010-02-19,1,1611968.17,0,39.93,2.514,211.289143,8.106,2,2010,7,119550.03
3,1-2010-02-26,2010-02-26,2010-02-26,1,1409727.59,0,46.63,2.561,211.319643,8.106,2,2010,8,-202240.58
30,1-2010-03-09,2010-03-09,2010-03-09,1,1540163.53,0,81.21,2.577,211.531248,7.787,3,2010,10,130435.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6423,45-2012-10-08,2012-10-08,2012-10-08,45,733037.32,0,78.65,3.722,191.162613,8.684,10,2012,41,-70619.80
6433,45-2012-10-19,2012-10-19,2012-10-19,45,718125.53,0,56.47,3.969,192.330854,8.667,10,2012,42,-14911.79
6434,45-2012-10-26,2012-10-26,2012-10-26,45,760281.43,0,58.85,3.882,192.308899,8.667,10,2012,43,42155.90
6410,45-2012-11-05,2012-11-05,2012-11-05,45,770487.37,0,61.24,3.889,190.976417,8.567,11,2012,45,10205.94
6432,45-2012-12-10,2012-12-10,2012-12-10,45,734464.36,0,54.47,4.000,192.327265,8.667,12,2012,50,-36023.01

In [11]:
# create dataframe for transformation from time series to supervised
def generate_supervised(data):
    supervised_df = data.copy()
    
    # create column for each lag
    for i in range(1,13):
        col_name = 'lag_' + str(i)
        supervised_df[col_name] = supervised_df['sales_diff'].shift(i)
    
    # drop null values
    supervised_df = supervised_df.dropna().reset_index(drop=True)
    
#     supervised_df.to_csv('../Resources/allstores_model_df.csv', index=False)
    
    return supervised_df

In [12]:
allstores_model_df = generate_supervised(sales_stores_sorted)
allstores_model_df

,index_id,Rev_Date,Date,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,...,lag_3,lag_4,lag_5,lag_6,lag_7,lag_8,lag_9,lag_10,lag_11,lag_12
0,1-2010-05-02,2010-05-02,2010-05-02,1,1643690.90,0,42.31,2.572,211.096358,8.106,...,-149466.43,211094.79,-68085.87,-75517.99,7870.25,130435.94,-202240.58,119550.03,-102550.14,141638.78
1,1-2010-05-03,2010-05-03,2010-05-03,1,1554806.68,0,46.50,2.625,211.350143,8.106,...,-74802.16,-149466.43,211094.79,-68085.87,-75517.99,7870.25,130435.94,-202240.58,119550.03,-102550.14
2,1-2010-05-11,2010-05-11,2010-05-11,1,1551659.28,0,58.74,2.689,211.956394,7.838,...,33844.59,-74802.16,-149466.43,211094.79,-68085.87,-75517.99,7870.25,130435.94,-202240.58,119550.03
3,1-2010-05-14,2010-05-14,2010-05-14,1,1494251.50,0,74.78,2.854,210.337426,7.808,...,218590.19,33844.59,-74802.16,-149466.43,211094.79,-68085.87,-75517.99,7870.25,130435.94,-202240.58
4,1-2010-05-21,2010-05-21,2010-05-21,1,1399662.07,0,76.44,2.826,210.617093,7.808,...,-88884.22,218590.19,33844.59,-74802.16,-149466.43,211094.79,-68085.87,-75517.99,7870.25,130435.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6373,45-2012-10-08,2012-10-08,2012-10-08,45,733037.32,0,78.65,3.722,191.162613,8.684,...,20847.93,-74730.60,42671.00,16065.61,-4264.67,-72636.07,83461.42,-25942.07,-12203.43,-16695.58
6374,45-2012-10-19,2012-10-19,2012-10-19,45,718125.53,0,56.47,3.969,192.330854,8.667,...,-9912.25,20847.93,-74730.60,42671.00,16065.61,-4264.67,-72636.07,83461.42,-25942.07,-12203.43
6375,45-2012-10-26,2012-10-26,2012-10-26,45,760281.43,0,58.85,3.882,192.308899,8.667,...,90483.17,-9912.25,20847.93,-74730.60,42671.00,16065.61,-4264.67,-72636.07,83461.42,-25942.07
6376,45-2012-11-05,2012-11-05,2012-11-05,45,770487.37,0,61.24,3.889,190.976417,8.567,...,-70619.80,90483.17,-9912.25,20847.93,-74730.60,42671.00,16065.61,-4264.67,-72636.07,83461.42
6377,45-2012-12-10,2012-12-10,2012-12-10,45,734464.36,0,54.47,4.000,192.327265,8.667,...,-14911.79,-70619.80,90483.17,-9912.25,20847.93,-74730.60,42671.00,16065.61,-4264.67,-72636.07

In [46]:
allstores_model_df.to_csv('../Resources/allstores_lag.csv')

In [13]:
stores = allstores_model_df["Store"].unique()
stores

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45], dtype=int64)

In [18]:
# Looping through each Store for finding their predicted values and metrics using Linear Regression Model

stores_predictions = pd.DataFrame([])
stores_metrics = []

for store in stores:
    stores_sales = allstores_model_df[allstores_model_df.Store == store]
    try:
        y = stores_sales["Weekly_Sales"]
        X = stores_sales.drop(columns =["Weekly_Sales","Date","Rev_Date","index_id"])

        # Splitting the data into trainig and testing data-sets
        X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
        
    except Exception as e:
        print('check error-- Split the sales data')
        print(e.message)
        
    try:  
        # Scale the data
        scaler = StandardScaler()
        X_scaler = scaler.fit(X_train)
        X_train_scaled = X_scaler.transform(X_train)
        X_test_scaled = X_scaler.transform(X_test)
        
    except Exception as e:
        print('check error--scale the sales data')
        print(e.message)
        
    # Instantiate the Linear Regression Model
    model=LinearRegression()
    
    # Fit the Model 
    model.fit(X_train_scaled, y_train)
        
    # Make the predictions
    y_pred = model.predict(X_test_scaled)
    predictions = pd.DataFrame({"Store":store,"Prediction": y_pred, "Actual": y_test})
      
       
    stores_predictions = stores_predictions.append(predictions)
    
    # make the scoring
    print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))   
    print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
    print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
    scoring = {"Store":store,
                       "Mean Absolute Error":metrics.mean_absolute_error(y_test,y_pred),
                            "Mean Squared Error":metrics.mean_squared_error(y_test, y_pred),
                            "Root Mean Squared Error": np.sqrt(metrics.mean_squared_error(y_test, y_pred)),
                              "R-squared":r2_score(y_test, y_pred)}
    
    stores_metrics.append(scoring)

Mean Absolute Error: 29271.61936361866
Mean Squared Error: 1494186688.7343
Root Mean Squared Error: 38654.711080724686
Mean Absolute Error: 77239.19127303937
Mean Squared Error: 20309954156.53743
Root Mean Squared Error: 142512.99644782377
Mean Absolute Error: 12289.808123276884
Mean Squared Error: 317021074.52328277
Root Mean Squared Error: 17805.085636505173
Mean Absolute Error: 68571.98308045966
Mean Squared Error: 15010675845.978378
Root Mean Squared Error: 122518.06334568947
Mean Absolute Error: 8225.257951280431
Mean Squared Error: 148260606.86561286
Root Mean Squared Error: 12176.231225860194
Mean Absolute Error: 67321.41861114377
Mean Squared Error: 11387044940.003454
Root Mean Squared Error: 106710.09764780207
Mean Absolute Error: 34133.8713026463
Mean Squared Error: 1839632632.8486223
Root Mean Squared Error: 42890.9388198559
Mean Absolute Error: 26967.97568775028
Mean Squared Error: 2159040123.863173
Root Mean Squared Error: 46465.47238394519
Mean Absolute Error: 16344.69650232695
Mean Squared Error: 659944342.9320765
Root Mean Squared Error: 25689.38191027718
Mean Absolute Error: 101695.51580131134
Mean Squared Error: 34311936857.816677
Root Mean Squared Error: 185234.81545815483
Mean Absolute Error: 38996.800445465145
Mean Squared Error: 4200801909.657162
Root Mean Squared Error: 64813.59355611415
Mean Absolute Error: 42251.624236291114
Mean Squared Error: 4091246798.4864078
Root Mean Squared Error: 63962.8548337737
Mean Absolute Error: 68726.72802612245
Mean Squared Error: 17341650225.657093
Root Mean Squared Error: 131687.69959892644
Mean Absolute Error: 93578.90490016711
Mean Squared Error: 23840483765.37948
Root Mean Squared Error: 154403.6390937062
Mean Absolute Error: 41109.49365989759
Mean Squared Error: 4293219850.5760217
Root Mean Squared Error: 65522.66669310722
Mean Absolute Error: 30528.583467208067
Mean Squared Error: 1701478136.449976
Root Mean Squared Error: 41248.97739883955
Mean Absolute Error: 23883.851356030264
Mean Squared Error: 1077549074.9440534
Root Mean Squared Error: 32826.04263300792
Mean Absolute Error: 61489.29802882731
Mean Squared Error: 8730937482.247156
Root Mean Squared Error: 93439.48566985564
Mean Absolute Error: 60134.25066660709
Mean Squared Error: 10670218802.442791
Root Mean Squared Error: 103296.751170803
Mean Absolute Error: 73263.26709041472
Mean Squared Error: 14612992106.684704
Root Mean Squared Error: 120884.20950101259
Mean Absolute Error: 49186.92711493315
Mean Squared Error: 7570292910.08195
Root Mean Squared Error: 87007.4302004257
Mean Absolute Error: 49517.19097958213
Mean Squared Error: 7084724274.735814
Root Mean Squared Error: 84170.8041706613
Mean Absolute Error: 78745.16029407443
Mean Squared Error: 16501109530.465014
Root Mean Squared Error: 128456.64455552703
Mean Absolute Error: 51438.126721784975
Mean Squared Error: 7385642087.318799
Root Mean Squared Error: 85939.75847835971
Mean Absolute Error: 39683.13687178896
Mean Squared Error: 3957395245.3726554
Root Mean Squared Error: 62907.83135168987
Mean Absolute Error: 31446.523903936653
Mean Squared Error: 2579850976.862732
Root Mean Squared Error: 50792.23343054263
Mean Absolute Error: 87394.85005053857
Mean Squared Error: 15501634344.48841
Root Mean Squared Error: 124505.559492291
Mean Absolute Error: 44491.13939730494
Mean Squared Error: 3871102688.144366
Root Mean Squared Error: 62218.186152799135
Mean Absolute Error: 30590.24574392007
Mean Squared Error: 2476735481.203324
Root Mean Squared Error: 49766.81104112784
Mean Absolute Error: 8293.372009384513
Mean Squared Error: 105704639.20322627
Root Mean Squared Error: 10281.276146628212
Mean Absolute Error: 40264.76114217759
Mean Squared Error: 4957814061.380583
Root Mean Squared Error: 70411.7466150399
Mean Absolute Error: 40882.68290230489
Mean Squared Error: 4953951797.716797
Root Mean Squared Error: 70384.3149978516
Mean Absolute Error: 7446.501619825689
Mean Squared Error: 87529633.8193548
Root Mean Squared Error: 9355.72732711652
Mean Absolute Error: 33853.56097830501
Mean Squared Error: 3864711421.7960873
Root Mean Squared Error: 62166.80321358086
Mean Absolute Error: 72765.62375484826
Mean Squared Error: 10163692856.080864
Root Mean Squared Error: 100815.14199801964
Mean Absolute Error: 10436.899732012364
Mean Squared Error: 198071994.73048002
Root Mean Squared Error: 14073.80526831603
Mean Absolute Error: 4044.5280958287185
Mean Squared Error: 30529385.53840367
Root Mean Squared Error: 5525.340309736919
Mean Absolute Error: 8468.249981112149
Mean Squared Error: 120037544.68914591
Root Mean Squared Error: 10956.164688847366
Mean Absolute Error: 50610.63339064576
Mean Squared Error: 6774669382.320292
Root Mean Squared Error: 82308.37978189276
Mean Absolute Error: 27645.097609416298
Mean Squared Error: 2151834284.184458
Root Mean Squared Error: 46387.86785555527
Mean Absolute Error: 45879.21540175563
Mean Squared Error: 5798288497.0182705
Root Mean Squared Error: 76146.4936620083
Mean Absolute Error: 10686.881427340062
Mean Squared Error: 176171946.18512625
Root Mean Squared Error: 13272.978045078136
Mean Absolute Error: 14013.70021829638
Mean Squared Error: 317044451.9769968
Root Mean Squared Error: 17805.74210688779
Mean Absolute Error: 5242.331796090686
Mean Squared Error: 47023438.12684671
Root Mean Squared Error: 6857.363788428226
Mean Absolute Error: 40978.85347623398
Mean Squared Error: 5684247065.345346
Root Mean Squared Error: 75393.94581360857

In [15]:
Store_scoring = pd.DataFrame(stores_metrics)
Store_scoring

,Store,Mean Absolute Error,Mean Squared Error,Root Mean Squared Error,R-squared
0,1,29271.619364,1.494187e+09,38654.711081,0.958274
1,2,77239.191273,2.030995e+10,142512.996448,0.855837
2,3,12289.808123,3.170211e+08,17805.085637,0.909767
3,4,68571.983080,1.501068e+10,122518.063346,0.906864
4,5,8225.257951,1.482606e+08,12176.231226,0.936104
5,6,67321.418611,1.138704e+10,106710.097648,0.885275
6,7,34133.871303,1.839633e+09,42890.938820,0.923564
7,8,26967.975688,2.159040e+09,46465.472384,0.914658
8,9,16344.696502,6.599443e+08,25689.381910,0.928089
9,10,101695.515801,3.431194e+10,185234.815458,0.850389
10,11,38996.800445,4.200802e+09,64813.593556,0.928293
11,12,42251.624236,4.091247e+09,63962.854834,0.900246
12,13,68726.728026,1.734165e+10,131687.699599,0.898999
13,14,93578.904900,2.384048e+10,154403.639094,0.877408
14,15,41109.493660,4.293220e+09,65522.666693,0.873423
15,16,30528.583467,1.701478e+09,41248.977399,0.890749
16,17,23883.851356,1.077549e+09,32826.042633,0.931785
17,18,61489.298029,8.730937e+09,93439.485670,0.856870
18,19,60134.250667,1.067022e+10,103296.751171,0.872732
19,20,73263.267090,1.461299e+10,120884.209501,0.910483
20,21,49186.927115,7.570293e+09,87007.430200,0.823330
21,22,49517.190980,7.084724e+09,84170.804171,0.877431
22,23,78745.160294,1.650111e+10,128456.644556,0.874657
23,24,51438.126722,7.385642e+09,85939.758478,0.869811
24,25,39683.136872,3.957395e+09,62907.831352,0.858913
25,26,31446.523904,2.579851e+09,50792.233431,0.877439
26,27,87394.850051,1.550163e+10,124505.559492,0.852890
27,28,44491.139397,3.871103e+09,62218.186153,0.915335
28,29,30590.245744,2.476735e+09,49766.811041,0.895083
29,30,8293.372009,1.057046e+08,10281.276147,0.886941
30,31,40264.761142,4.957814e+09,70411.746615,0.853728
31,32,40882.682902,4.953952e+09,70384.314998,0.891279
32,33,7446.501620,8.752963e+07,9355.727327,0.858974
33,34,33853.560978,3.864711e+09,62166.803214,0.862656
34,35,72765.623755,1.016369e+10,100815.141998,0.853470
35,36,10436.899732,1.980720e+08,14073.805268,0.946952
36,37,4044.528096,3.052939e+07,5525.340310,0.958483
37,38,8468.249981,1.200375e+08,10956.164689,0.917019
38,39,50610.633391,6.774669e+09,82308.379782,0.926737
39,40,27645.097609,2.151834e+09,46387.867856,0.925488
40,41,45879.215402,5.798288e+09,76146.493662,0.920081
41,42,10686.881427,1.761719e+08,13272.978045,0.921141
42,43,14013.700218,3.170445e+08,17805.742107,0.851237
43,44,5242.331796,4.702344e+07,6857.363788,0.938429
44,45,40978.853476,5.684247e+09,75393.945814,0.869949

In [16]:
stores_predictions

      Store    Prediction      Actual
108       1  1.758953e+06  1769854.16
105       1  1.549937e+06  1555444.55
35        1  1.454029e+06  1495064.75
124       1  1.863232e+06  1802477.43
53        1  1.566194e+06  1624383.75
...     ...           ...         ...
6264     45  7.448216e+05   721744.33
6301     45  7.661756e+05   765996.92
6345     45  7.802830e+05   791835.37
6351     45  7.644252e+05   733455.07
6302     45  7.914030e+05   793889.10

[1617 rows x 3 columns]

In [17]:
stores_predictions.to_csv('../Resources/LinearRegression_Allstores_predictions_df.csv')

In [33]:
# Looping through each Store for finding their predicted values and metrics using Random Forest Regressor

stores_predictions_01 = pd.DataFrame([])
stores_metrics_01 = []

stores_predictions_02 = pd.DataFrame([])
stores_metrics_02 = []

for store in stores:
    stores_sales = allstores_model_df[allstores_model_df.Store == store]
    try:
        y = stores_sales["Weekly_Sales"]
        X = stores_sales.drop(columns =["Weekly_Sales","Date","Rev_Date","index_id"])

        # Splitting the data into trainig and testing data-sets
        X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
        
    except Exception as e:
        print('check error-- Split the sales data')
        print(e.message)
        
    try:  
        # Scale the data
        scaler = StandardScaler()
        X_scaler = scaler.fit(X_train)
        X_train_scaled = X_scaler.transform(X_train)
        X_test_scaled = X_scaler.transform(X_test)
        
    except Exception as e:
        print('check error--scale the sales data')
        print(e.message)
        
    # Instantiate the Linear Regression Model
    linear = LinearRegression()
    
    # Fitting the Model 
    linear.fit(X_train_scaled, y_train)
        
    # Make the predictions
    y_pred_01 = linear.predict(X_test_scaled)
    predictions_01 = pd.DataFrame({"Store":store,"Algorithm":"Linear Regression","Prediction": y_pred_01, "Actual": y_test})
    
    stores_predictions_01 = stores_predictions_01.append(predictions_01)
    
    # make the scoring
    print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_01))   
    print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_01))
    print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_01)))
    scoring_01 = {"Store":store,
                  "Algorithm":"Linear Regression",
                    "Mean Absolute Error":metrics.mean_absolute_error(y_test,y_pred_01),
                    "Mean Squared Error":metrics.mean_squared_error(y_test, y_pred_01),
                    "Root Mean Squared Error": np.sqrt(metrics.mean_squared_error(y_test, y_pred_01)),
                    "R-squared":r2_score(y_test, y_pred_01)}
    
    stores_metrics_01.append(scoring_01)    
     
        
    # Create a Random Forest Regressor
    regr = RandomForestRegressor(n_estimators=100, random_state=0)
    
    # Fitting the model
    regr = regr.fit(X_train_scaled, y_train)
        
    # Make the predictions
    y_pred_02 = regr.predict(X_test_scaled)
    predictions_02 = pd.DataFrame({"Store":store,"Algorithm":"Random Forest Regressor","Prediction": y_pred_02, "Actual": y_test})
      
       
    stores_predictions_02 = stores_predictions_02.append(predictions_02)
    
    # make the scoring
    print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_02))   
    print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_02))
    print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_02)))
    scoring_02 = {"Store":store,
                  "Algorithm":"Random Forest Regressor",
                    "Mean Absolute Error":metrics.mean_absolute_error(y_test,y_pred_02),
                    "Mean Squared Error":metrics.mean_squared_error(y_test, y_pred_02),
                    "Root Mean Squared Error": np.sqrt(metrics.mean_squared_error(y_test, y_pred_02)),
                    "R-squared":r2_score(y_test, y_pred_02)}
    
    stores_metrics_02.append(scoring_02)

Mean Absolute Error: 29271.61936361866
Mean Squared Error: 1494186688.7343
Root Mean Squared Error: 38654.711080724686
Mean Absolute Error: 70090.92957878792
Mean Squared Error: 9853610354.079645
Root Mean Squared Error: 99265.35324109638
Mean Absolute Error: 77239.19127303937
Mean Squared Error: 20309954156.53743
Root Mean Squared Error: 142512.99644782377
Mean Absolute Error: 126164.19884444408
Mean Squared Error: 61154689477.00638
Root Mean Squared Error: 247294.74211354833
Mean Absolute Error: 12289.808123276884
Mean Squared Error: 317021074.52328277
Root Mean Squared Error: 17805.085636505173
Mean Absolute Error: 22678.480347222274
Mean Squared Error: 1313500418.6724048
Root Mean Squared Error: 36242.246324867956
Mean Absolute Error: 68571.98308045966
Mean Squared Error: 15010675845.978378
Root Mean Squared Error: 122518.06334568947
Mean Absolute Error: 120977.85800555545
Mean Squared Error: 72164855891.23337
Root Mean Squared Error: 268635.172476043
Mean Absolute Error: 8225.257951280431
Mean Squared Error: 148260606.86561286
Root Mean Squared Error: 12176.231225860194
Mean Absolute Error: 17032.225402777756
Mean Squared Error: 716936259.997189
Root Mean Squared Error: 26775.6654445261
Mean Absolute Error: 67321.41861114377
Mean Squared Error: 11387044940.003454
Root Mean Squared Error: 106710.09764780207
Mean Absolute Error: 128511.27912222211
Mean Squared Error: 44303731029.82347
Root Mean Squared Error: 210484.51494070407
Mean Absolute Error: 34133.8713026463
Mean Squared Error: 1839632632.8486223
Root Mean Squared Error: 42890.9388198559
Mean Absolute Error: 59708.55791666664
Mean Squared Error: 9280446089.609043
Root Mean Squared Error: 96335.07196036677
Mean Absolute Error: 26967.97568775028
Mean Squared Error: 2159040123.863173
Root Mean Squared Error: 46465.47238394519
Mean Absolute Error: 52026.97210277798
Mean Squared Error: 11411910343.483545
Root Mean Squared Error: 106826.54325346087
Mean Absolute Error: 16344.69650232695
Mean Squared Error: 659944342.9320765
Root Mean Squared Error: 25689.38191027718
Mean Absolute Error: 31634.369775000003
Mean Squared Error: 3467743565.792365
Root Mean Squared Error: 58887.550176521734
Mean Absolute Error: 101695.51580131134
Mean Squared Error: 34311936857.816677
Root Mean Squared Error: 185234.81545815483
Mean Absolute Error: 132114.37308333314
Mean Squared Error: 84875461010.17651
Root Mean Squared Error: 291333.9338459846
Mean Absolute Error: 38996.800445465145
Mean Squared Error: 4200801909.657162
Root Mean Squared Error: 64813.59355611415
Mean Absolute Error: 78041.25767222217
Mean Squared Error: 23060623795.246967
Root Mean Squared Error: 151857.24808268773
Mean Absolute Error: 42251.624236291114
Mean Squared Error: 4091246798.4864078
Root Mean Squared Error: 63962.8548337737
Mean Absolute Error: 68246.55550277774
Mean Squared Error: 14931837174.941555
Root Mean Squared Error: 122195.89671892242
Mean Absolute Error: 68726.72802612245
Mean Squared Error: 17341650225.657093
Root Mean Squared Error: 131687.69959892644
Mean Absolute Error: 114537.9448249998
Mean Squared Error: 64708577849.322784
Root Mean Squared Error: 254378.807783437
Mean Absolute Error: 93578.90490016711
Mean Squared Error: 23840483765.37948
Root Mean Squared Error: 154403.6390937062
Mean Absolute Error: 155338.3220305555
Mean Squared Error: 92200442617.13312
Root Mean Squared Error: 303645.2578538534
Mean Absolute Error: 41109.49365989759
Mean Squared Error: 4293219850.5760217
Root Mean Squared Error: 65522.66669310722
Mean Absolute Error: 55723.40198611111
Mean Squared Error: 11632836977.79377
Root Mean Squared Error: 107855.63025541953
Mean Absolute Error: 30528.583467208067
Mean Squared Error: 1701478136.449976
Root Mean Squared Error: 41248.97739883955
Mean Absolute Error: 50739.20367777784
Mean Squared Error: 9277634279.003847
Root Mean Squared Error: 96320.47694547534
Mean Absolute Error: 23883.851356030264
Mean Squared Error: 1077549074.9440534
Root Mean Squared Error: 32826.04263300792
Mean Absolute Error: 48474.796813888854
Mean Squared Error: 4413223951.675849
Root Mean Squared Error: 66432.10031058667
Mean Absolute Error: 61489.29802882731
Mean Squared Error: 8730937482.247156
Root Mean Squared Error: 93439.48566985564
Mean Absolute Error: 93346.68846944437
Mean Squared Error: 24426080550.261753
Root Mean Squared Error: 156288.45302920416
Mean Absolute Error: 60134.25066660709
Mean Squared Error: 10670218802.442791
Root Mean Squared Error: 103296.751170803
Mean Absolute Error: 105918.24205277777
Mean Squared Error: 42895707486.80672
Root Mean Squared Error: 207112.78928836508
Mean Absolute Error: 73263.26709041472
Mean Squared Error: 14612992106.684704
Root Mean Squared Error: 120884.20950101259
Mean Absolute Error: 127398.99990833318
Mean Squared Error: 63470796991.043755
Root Mean Squared Error: 251934.11240053174
Mean Absolute Error: 49186.92711493315
Mean Squared Error: 7570292910.08195
Root Mean Squared Error: 87007.4302004257
Mean Absolute Error: 71392.88794444439
Mean Squared Error: 18075658936.451042
Root Mean Squared Error: 134445.74718618303
Mean Absolute Error: 49517.19097958213
Mean Squared Error: 7084724274.735814
Root Mean Squared Error: 84170.8041706613
Mean Absolute Error: 73625.85985555557
Mean Squared Error: 19171948842.223896
Root Mean Squared Error: 138462.80671076942
Mean Absolute Error: 78745.16029407443
Mean Squared Error: 16501109530.465014
Root Mean Squared Error: 128456.64455552703
Mean Absolute Error: 136998.08356388903
Mean Squared Error: 59751261615.83283
Root Mean Squared Error: 244440.71186247357
Mean Absolute Error: 51438.126721784975
Mean Squared Error: 7385642087.318799
Root Mean Squared Error: 85939.75847835971
Mean Absolute Error: 84969.59210277762
Mean Squared Error: 31573573075.474297
Root Mean Squared Error: 177689.5412664299
Mean Absolute Error: 39683.13687178896
Mean Squared Error: 3957395245.3726554
Root Mean Squared Error: 62907.83135168987
Mean Absolute Error: 60802.97648611103
Mean Squared Error: 10642416001.9266
Root Mean Squared Error: 103162.08606812195
Mean Absolute Error: 31446.523903936653
Mean Squared Error: 2579850976.862732
Root Mean Squared Error: 50792.23343054263
Mean Absolute Error: 56491.25988055551
Mean Squared Error: 10960891626.124632
Root Mean Squared Error: 104694.27695019738
Mean Absolute Error: 87394.85005053857
Mean Squared Error: 15501634344.48841
Root Mean Squared Error: 124505.559492291
Mean Absolute Error: 136468.12227777767
Mean Squared Error: 59054458654.52159
Root Mean Squared Error: 243011.2315398644
Mean Absolute Error: 44491.13939730494
Mean Squared Error: 3871102688.144366
Root Mean Squared Error: 62218.186152799135
Mean Absolute Error: 104057.04385277774
Mean Squared Error: 20071166738.999252
Root Mean Squared Error: 141672.745222923
Mean Absolute Error: 30590.24574392007
Mean Squared Error: 2476735481.203324
Root Mean Squared Error: 49766.81104112784
Mean Absolute Error: 49099.63545555558
Mean Squared Error: 9389432801.519234
Root Mean Squared Error: 96899.08565884011
Mean Absolute Error: 8293.372009384513
Mean Squared Error: 105704639.20322627
Root Mean Squared Error: 10281.276146628212
Mean Absolute Error: 16435.938608333334
Mean Squared Error: 515189615.90490746
Root Mean Squared Error: 22697.788788886628
Mean Absolute Error: 40264.76114217759
Mean Squared Error: 4957814061.380583
Root Mean Squared Error: 70411.7466150399
Mean Absolute Error: 57492.65399722205
Mean Squared Error: 13420202931.59954
Root Mean Squared Error: 115845.59953489619
Mean Absolute Error: 40882.68290230489
Mean Squared Error: 4953951797.716797
Root Mean Squared Error: 70384.3149978516
Mean Absolute Error: 62513.26517777793
Mean Squared Error: 14887732293.553133
Root Mean Squared Error: 122015.29532625462
Mean Absolute Error: 7446.501619825689
Mean Squared Error: 87529633.8193548
Root Mean Squared Error: 9355.72732711652
Mean Absolute Error: 16075.746411111097
Mean Squared Error: 393807474.0538105
Root Mean Squared Error: 19844.58299017166
Mean Absolute Error: 33853.56097830501
Mean Squared Error: 3864711421.7960873
Root Mean Squared Error: 62166.80321358086
Mean Absolute Error: 47871.46081666672
Mean Squared Error: 12901556752.267765
Root Mean Squared Error: 113585.01992898431
Mean Absolute Error: 72765.62375484826
Mean Squared Error: 10163692856.080864
Root Mean Squared Error: 100815.14199801964

Mean Absolute Error: 102917.10666666662
Mean Squared Error: 44714195242.88741
Root Mean Squared Error: 211457.3130513282
Mean Absolute Error: 10436.899732012364
Mean Squared Error: 198071994.73048002
Root Mean Squared Error: 14073.80526831603
Mean Absolute Error: 16406.136511111137
Mean Squared Error: 432275082.4874487
Root Mean Squared Error: 20791.22609389472
Mean Absolute Error: 4044.5280958287185
Mean Squared Error: 30529385.53840367
Root Mean Squared Error: 5525.340309736919
Mean Absolute Error: 13798.990030555542
Mean Squared Error: 458870494.0957279
Root Mean Squared Error: 21421.262663431582
Mean Absolute Error: 8468.249981112149
Mean Squared Error: 120037544.68914591
Root Mean Squared Error: 10956.164688847366
Mean Absolute Error: 16746.971461111145
Mean Squared Error: 510588026.9179287
Root Mean Squared Error: 22596.194965478782
Mean Absolute Error: 50610.63339064576
Mean Squared Error: 6774669382.320292
Root Mean Squared Error: 82308.37978189276
Mean Absolute Error: 113524.22141944437
Mean Squared Error: 41991469338.75168
Root Mean Squared Error: 204918.2015799272
Mean Absolute Error: 27645.097609416298
Mean Squared Error: 2151834284.184458
Root Mean Squared Error: 46387.86785555527
Mean Absolute Error: 65384.17456388898
Mean Squared Error: 18142208291.791176
Root Mean Squared Error: 134693.0150074278
Mean Absolute Error: 45879.21540175563
Mean Squared Error: 5798288497.0182705
Root Mean Squared Error: 76146.4936620083
Mean Absolute Error: 100249.00006111122
Mean Squared Error: 40243007748.91102
Root Mean Squared Error: 200606.5994650002
Mean Absolute Error: 10686.881427340062
Mean Squared Error: 176171946.18512625
Root Mean Squared Error: 13272.978045078136
Mean Absolute Error: 25027.244575
Mean Squared Error: 939960127.7278928
Root Mean Squared Error: 30658.769181555424
Mean Absolute Error: 14013.70021829638
Mean Squared Error: 317044451.9769968
Root Mean Squared Error: 17805.74210688779
Mean Absolute Error: 24828.94721944442
Mean Squared Error: 989612542.2088991
Root Mean Squared Error: 31458.107734078654
Mean Absolute Error: 5242.331796090686
Mean Squared Error: 47023438.12684671
Root Mean Squared Error: 6857.363788428226
Mean Absolute Error: 13349.875808333301
Mean Squared Error: 487544732.4301251
Root Mean Squared Error: 22080.41513264923
Mean Absolute Error: 40978.85347623398
Mean Squared Error: 5684247065.345346
Root Mean Squared Error: 75393.94581360857
Mean Absolute Error: 67903.89458333318
Mean Squared Error: 20965540579.683865
Root Mean Squared Error: 144794.82235109052

In [34]:
stores_predictions_01

      Store          Algorithm    Prediction      Actual
108       1  Linear Regression  1.758953e+06  1769854.16
105       1  Linear Regression  1.549937e+06  1555444.55
35        1  Linear Regression  1.454029e+06  1495064.75
124       1  Linear Regression  1.863232e+06  1802477.43
53        1  Linear Regression  1.566194e+06  1624383.75
...     ...                ...           ...         ...
6264     45  Linear Regression  7.448216e+05   721744.33
6301     45  Linear Regression  7.661756e+05   765996.92
6345     45  Linear Regression  7.802830e+05   791835.37
6351     45  Linear Regression  7.644252e+05   733455.07
6302     45  Linear Regression  7.914030e+05   793889.10

[1617 rows x 4 columns]

In [35]:
stores_predictions_02

      Store                Algorithm    Prediction      Actual
108       1  Random Forest Regressor  1.540986e+06  1769854.16
105       1  Random Forest Regressor  1.537265e+06  1555444.55
35        1  Random Forest Regressor  1.627393e+06  1495064.75
124       1  Random Forest Regressor  1.855490e+06  1802477.43
53        1  Random Forest Regressor  1.607530e+06  1624383.75
...     ...                      ...           ...         ...
6264     45  Random Forest Regressor  7.317909e+05   721744.33
6301     45  Random Forest Regressor  7.798973e+05   765996.92
6345     45  Random Forest Regressor  7.593555e+05   791835.37
6351     45  Random Forest Regressor  7.814247e+05   733455.07
6302     45  Random Forest Regressor  7.613894e+05   793889.10

[1617 rows x 4 columns]

In [39]:
actual_vs_prediction_merge = pd.merge(stores_predictions_01, stores_predictions_02, left_index=True, right_index=True)
actual_vs_prediction_merge

,Store_x,Algorithm_x,Prediction_x,Actual_x,Store_y,Algorithm_y,Prediction_y,Actual_y
108,1,Linear Regression,1.758953e+06,1769854.16,1,Random Forest Regressor,1.540986e+06,1769854.16
105,1,Linear Regression,1.549937e+06,1555444.55,1,Random Forest Regressor,1.537265e+06,1555444.55
35,1,Linear Regression,1.454029e+06,1495064.75,1,Random Forest Regressor,1.627393e+06,1495064.75
124,1,Linear Regression,1.863232e+06,1802477.43,1,Random Forest Regressor,1.855490e+06,1802477.43
53,1,Linear Regression,1.566194e+06,1624383.75,1,Random Forest Regressor,1.607530e+06,1624383.75
...,...,...,...,...,...,...,...,...
6264,45,Linear Regression,7.448216e+05,721744.33,45,Random Forest Regressor,7.317909e+05,721744.33
6301,45,Linear Regression,7.661756e+05,765996.92,45,Random Forest Regressor,7.798973e+05,765996.92
6345,45,Linear Regression,7.802830e+05,791835.37,45,Random Forest Regressor,7.593555e+05,791835.37
6351,45,Linear Regression,7.644252e+05,733455.07,45,Random Forest Regressor,7.814247e+05,733455.07
6302,45,Linear Regression,7.914030e+05,793889.10,45,Random Forest Regressor,7.613894e+05,793889.10

In [43]:
actual_vs_prediction_merge.to_csv('../Resources/Allstores_actual_vs_predictions_merge.csv')

In [44]:
actual_vs_prediction_append = stores_predictions_01.append(stores_predictions_02)
actual_vs_prediction_append

      Store                Algorithm    Prediction      Actual
108       1        Linear Regression  1.758953e+06  1769854.16
105       1        Linear Regression  1.549937e+06  1555444.55
35        1        Linear Regression  1.454029e+06  1495064.75
124       1        Linear Regression  1.863232e+06  1802477.43
53        1        Linear Regression  1.566194e+06  1624383.75
...     ...                      ...           ...         ...
6264     45  Random Forest Regressor  7.317909e+05   721744.33
6301     45  Random Forest Regressor  7.798973e+05   765996.92
6345     45  Random Forest Regressor  7.593555e+05   791835.37
6351     45  Random Forest Regressor  7.814247e+05   733455.07
6302     45  Random Forest Regressor  7.613894e+05   793889.10

[3234 rows x 4 columns]

In [45]:
actual_vs_prediction_append.to_csv('../Resources/Allstores_actual_vs_predictions_append.csv')

In [38]:
actual_vs_prediction = actual_vs_prediction.drop(columns =["Store_y","Actual_y"])
actual_vs_prediction

,Store_x,Algorithm_x,Prediction_x,Actual_x,Algorithm_y,Prediction_y
108,1,Linear Regression,1.758953e+06,1769854.16,Random Forest Regressor,1.540986e+06
105,1,Linear Regression,1.549937e+06,1555444.55,Random Forest Regressor,1.537265e+06
35,1,Linear Regression,1.454029e+06,1495064.75,Random Forest Regressor,1.627393e+06
124,1,Linear Regression,1.863232e+06,1802477.43,Random Forest Regressor,1.855490e+06
53,1,Linear Regression,1.566194e+06,1624383.75,Random Forest Regressor,1.607530e+06
...,...,...,...,...,...,...
6264,45,Linear Regression,7.448216e+05,721744.33,Random Forest Regressor,7.317909e+05
6301,45,Linear Regression,7.661756e+05,765996.92,Random Forest Regressor,7.798973e+05
6345,45,Linear Regression,7.802830e+05,791835.37,Random Forest Regressor,7.593555e+05
6351,45,Linear Regression,7.644252e+05,733455.07,Random Forest Regressor,7.814247e+05
6302,45,Linear Regression,7.914030e+05,793889.10,Random Forest Regressor,7.613894e+05

In [ ]:
actual_vs_prediction = pd.merge(stores_predictions_01, stores_predictions_02, left_index=True, right_index=True)
actual_vs_prediction

In [ ]:
df3 = pd.merge(df1, df2, left_index=True, right_index=True)

In [ ]:
df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1)

In [31]:
Store_scoring_01 = pd.DataFrame(stores_metrics_01)
Store_scoring_01

,Store,Algorithm,Mean Absolute Error,Mean Squared Error,Root Mean Squared Error,R-squared
0,1,Linear Regression,29271.619364,1.494187e+09,38654.711081,0.958274
1,2,Linear Regression,77239.191273,2.030995e+10,142512.996448,0.855837
2,3,Linear Regression,12289.808123,3.170211e+08,17805.085637,0.909767
3,4,Linear Regression,68571.983080,1.501068e+10,122518.063346,0.906864
4,5,Linear Regression,8225.257951,1.482606e+08,12176.231226,0.936104
5,6,Linear Regression,67321.418611,1.138704e+10,106710.097648,0.885275
6,7,Linear Regression,34133.871303,1.839633e+09,42890.938820,0.923564
7,8,Linear Regression,26967.975688,2.159040e+09,46465.472384,0.914658
8,9,Linear Regression,16344.696502,6.599443e+08,25689.381910,0.928089
9,10,Linear Regression,101695.515801,3.431194e+10,185234.815458,0.850389
10,11,Linear Regression,38996.800445,4.200802e+09,64813.593556,0.928293
11,12,Linear Regression,42251.624236,4.091247e+09,63962.854834,0.900246
12,13,Linear Regression,68726.728026,1.734165e+10,131687.699599,0.898999
13,14,Linear Regression,93578.904900,2.384048e+10,154403.639094,0.877408
14,15,Linear Regression,41109.493660,4.293220e+09,65522.666693,0.873423
15,16,Linear Regression,30528.583467,1.701478e+09,41248.977399,0.890749
16,17,Linear Regression,23883.851356,1.077549e+09,32826.042633,0.931785
17,18,Linear Regression,61489.298029,8.730937e+09,93439.485670,0.856870
18,19,Linear Regression,60134.250667,1.067022e+10,103296.751171,0.872732
19,20,Linear Regression,73263.267090,1.461299e+10,120884.209501,0.910483
20,21,Linear Regression,49186.927115,7.570293e+09,87007.430200,0.823330
21,22,Linear Regression,49517.190980,7.084724e+09,84170.804171,0.877431
22,23,Linear Regression,78745.160294,1.650111e+10,128456.644556,0.874657
23,24,Linear Regression,51438.126722,7.385642e+09,85939.758478,0.869811
24,25,Linear Regression,39683.136872,3.957395e+09,62907.831352,0.858913
25,26,Linear Regression,31446.523904,2.579851e+09,50792.233431,0.877439
26,27,Linear Regression,87394.850051,1.550163e+10,124505.559492,0.852890
27,28,Linear Regression,44491.139397,3.871103e+09,62218.186153,0.915335
28,29,Linear Regression,30590.245744,2.476735e+09,49766.811041,0.895083
29,30,Linear Regression,8293.372009,1.057046e+08,10281.276147,0.886941
30,31,Linear Regression,40264.761142,4.957814e+09,70411.746615,0.853728
31,32,Linear Regression,40882.682902,4.953952e+09,70384.314998,0.891279
32,33,Linear Regression,7446.501620,8.752963e+07,9355.727327,0.858974
33,34,Linear Regression,33853.560978,3.864711e+09,62166.803214,0.862656
34,35,Linear Regression,72765.623755,1.016369e+10,100815.141998,0.853470
35,36,Linear Regression,10436.899732,1.980720e+08,14073.805268,0.946952
36,37,Linear Regression,4044.528096,3.052939e+07,5525.340310,0.958483
37,38,Linear Regression,8468.249981,1.200375e+08,10956.164689,0.917019
38,39,Linear Regression,50610.633391,6.774669e+09,82308.379782,0.926737
39,40,Linear Regression,27645.097609,2.151834e+09,46387.867856,0.925488
40,41,Linear Regression,45879.215402,5.798288e+09,76146.493662,0.920081
41,42,Linear Regression,10686.881427,1.761719e+08,13272.978045,0.921141
42,43,Linear Regression,14013.700218,3.170445e+08,17805.742107,0.851237
43,44,Linear Regression,5242.331796,4.702344e+07,6857.363788,0.938429
44,45,Linear Regression,40978.853476,5.684247e+09,75393.945814,0.869949

In [32]:
Store_scoring_02 = pd.DataFrame(stores_metrics_02)
Store_scoring_02

,Store,Algorithm,Mean Absolute Error,Mean Squared Error,Root Mean Squared Error,R-squared
0,1,Random Forest Regressor,70090.929579,9.853610e+09,99265.353241,0.724835
1,2,Random Forest Regressor,126164.198844,6.115469e+10,247294.742114,0.565916
2,3,Random Forest Regressor,22678.480347,1.313500e+09,36242.246325,0.626142
3,4,Random Forest Regressor,120977.858006,7.216486e+10,268635.172476,0.552242
4,5,Random Forest Regressor,17032.225403,7.169363e+08,26775.665445,0.691019
5,6,Random Forest Regressor,128511.279122,4.430373e+10,210484.514941,0.553639
6,7,Random Forest Regressor,59708.557917,9.280446e+09,96335.071960,0.614401
7,8,Random Forest Regressor,52026.972103,1.141191e+10,106826.543253,0.548913
8,9,Random Forest Regressor,31634.369775,3.467744e+09,58887.550177,0.622139
9,10,Random Forest Regressor,132114.373083,8.487546e+10,291333.933846,0.629916
10,11,Random Forest Regressor,78041.257672,2.306062e+10,151857.248083,0.606358
11,12,Random Forest Regressor,68246.555503,1.493184e+10,122195.896719,0.635927
12,13,Random Forest Regressor,114537.944825,6.470858e+10,254378.807783,0.623123
13,14,Random Forest Regressor,155338.322031,9.220044e+10,303645.257854,0.525890
14,15,Random Forest Regressor,55723.401986,1.163284e+10,107855.630255,0.657028
15,16,Random Forest Regressor,50739.203678,9.277634e+09,96320.476945,0.404287
16,17,Random Forest Regressor,48474.796814,4.413224e+09,66432.100311,0.720616
17,18,Random Forest Regressor,93346.688469,2.442608e+10,156288.453029,0.599574
18,19,Random Forest Regressor,105918.242053,4.289571e+10,207112.789288,0.488366
19,20,Random Forest Regressor,127398.999908,6.347080e+10,251934.112401,0.611188
20,21,Random Forest Regressor,71392.887944,1.807566e+10,134445.747186,0.578162
21,22,Random Forest Regressor,73625.859856,1.917195e+10,138462.806711,0.668316
22,23,Random Forest Regressor,136998.083564,5.975126e+10,244440.711862,0.546128
23,24,Random Forest Regressor,84969.592103,3.157357e+10,177689.541266,0.443442
24,25,Random Forest Regressor,60802.976486,1.064242e+10,103162.086068,0.620582
25,26,Random Forest Regressor,56491.259881,1.096089e+10,104694.276950,0.479280
26,27,Random Forest Regressor,136468.122278,5.905446e+10,243011.231540,0.439576
27,28,Random Forest Regressor,104057.043853,2.007117e+10,141672.745223,0.561021
28,29,Random Forest Regressor,49099.635456,9.389433e+09,96899.085659,0.602254
29,30,Random Forest Regressor,16435.938608,5.151896e+08,22697.788789,0.448968
30,31,Random Forest Regressor,57492.653997,1.342020e+10,115845.599535,0.604059
31,32,Random Forest Regressor,62513.265178,1.488773e+10,122015.295326,0.673269
32,33,Random Forest Regressor,16075.746411,3.938075e+08,19844.582990,0.365504
33,34,Random Forest Regressor,47871.460817,1.290156e+10,113585.019929,0.541503
34,35,Random Forest Regressor,102917.106667,4.471420e+10,211457.313051,0.355357
35,36,Random Forest Regressor,16406.136511,4.322751e+08,20791.226094,0.884228
36,37,Random Forest Regressor,13798.990031,4.588705e+08,21421.262663,0.375980
37,38,Random Forest Regressor,16746.971461,5.105880e+08,22596.194965,0.647033
38,39,Random Forest Regressor,113524.221419,4.199147e+10,204918.201580,0.545894
39,40,Random Forest Regressor,65384.174564,1.814221e+10,134693.015007,0.371786
40,41,Random Forest Regressor,100249.000061,4.024301e+10,200606.599465,0.445320
41,42,Random Forest Regressor,25027.244575,9.399601e+08,30658.769182,0.579252
42,43,Random Forest Regressor,24828.947219,9.896125e+08,31458.107734,0.535657
43,44,Random Forest Regressor,13349.875808,4.875447e+08,22080.415133,0.361620
44,45,Random Forest Regressor,67903.894583,2.096554e+10,144794.822351,0.520326

In [47]:
scoring_append = Store_scoring_01.append(Store_scoring_02)
scoring_append

,Store,Algorithm,Mean Absolute Error,Mean Squared Error,Root Mean Squared Error,R-squared
0,1,Linear Regression,29271.619364,1.494187e+09,38654.711081,0.958274
1,2,Linear Regression,77239.191273,2.030995e+10,142512.996448,0.855837
2,3,Linear Regression,12289.808123,3.170211e+08,17805.085637,0.909767
3,4,Linear Regression,68571.983080,1.501068e+10,122518.063346,0.906864
4,5,Linear Regression,8225.257951,1.482606e+08,12176.231226,0.936104
...,...,...,...,...,...,...
40,41,Random Forest Regressor,100249.000061,4.024301e+10,200606.599465,0.445320
41,42,Random Forest Regressor,25027.244575,9.399601e+08,30658.769182,0.579252
42,43,Random Forest Regressor,24828.947219,9.896125e+08,31458.107734,0.535657
43,44,Random Forest Regressor,13349.875808,4.875447e+08,22080.415133,0.361620
44,45,Random Forest Regressor,67903.894583,2.096554e+10,144794.822351,0.520326

In [48]:
scoring_append.to_csv('../Resources/Allstores_scoring_append.csv')

In [ ]:
import datetime
def time_plot(data, x_col, y_col, title):
    fig, ax = plt.subplots(figsize=(15,5))
    sns.lineplot(x_col, y_col, data=data, ax=ax, color='mediumblue', label='Total Sales')
    
    second = data.groupby(data.Date.dt.year)[y_col].mean().reset_index()
    second.Date = pd.to_datetime(second.Date, format='%Y')
    sns.lineplot((second.Date + datetime.timedelta(6*365/12)), y_col, data=second, ax=ax, color='red', label='Mean Sales')   
    
    ax.set(xlabel = "Date",
           ylabel = "Sales",
           title = title)
    
    sns.despine()

In [ ]:
time_plot(sales_store1, 'Date', 'sales_diff', 'Monthly Sales After Diff Transformation')

In [ ]:
#create dataframe for transformation from time series to supervised
def generate_supervised(data):
    supervised_df = data.copy()
    
    #create column for each lag
    for i in range(1,13):
        col_name = 'lag_' + str(i)
        supervised_df[col_name] = supervised_df['sales_diff'].shift(i)
    
    #drop null values
    supervised_df = supervised_df.dropna().reset_index(drop=True)
    
    supervised_df.to_csv('../Resources/model_df.csv', index=False)
    
    return supervised_df

In [ ]:
model_df = generate_supervised(sales_store1)

In [ ]:
model_df

In [ ]:
model_df.describe()

In [ ]:
# output(target) and input data division
y = model_df["Weekly_Sales"]
X = model_df.drop(columns =["Weekly_Sales","Date","Rev_Date","index_id"])

In [ ]:
# splitting the data into trainig and teting data sets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# scale the data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# instantiate the LinearRegression model
regressor = LinearRegression()  
regressor.fit(X_train_scaled, y_train)

In [ ]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])  
coeff_df

In [ ]:
y_pred = regressor.predict(X_test_scaled)

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df.head(25)

In [ ]:
# Saving predictions data 
df.to_csv("../Resources/predictions_LinearRegression_Lag.csv", index=False)

In [ ]:
df1=df.head(25)

In [ ]:
df1.plot(kind='bar',figsize=(10,8))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()